<form class="p-2">
  <div class="form-group d-flex">
    <input type="text" name="query" [(ngModel)]="query" class="form-control" [placeholder]="placeholder">
    <input type="submit" class="btn btn-primary ml-1" (click)="search($event)" [value]="labelButton">
  </div>
  <p>Parametro de búsqueda: {{query}}</p>
  <p>Resultado: {{result}}</p>
</form>
<div *ngIf="owners && owners.length > 0">
  <ul class="list-unstyled pl-2 small">
    <li *ngFor="let owner of owners">
      <strong [innerHTML]="owner.firstName + ', ' + owner.lastName"></strong>
      <span [innerHTML]="'(' + owner.address + ', ' + owner.city + ')'"></span>
    </li>
  </ul>
</div>
